# Producer
/kafka/producer/package-lock.json
/kafka/producer/node_modules/
/kafka/producer/.env

# Consumer
/kafka/consumer/package-lock.json
/kafka/consumer/node_modules/

# docker
/kafka/producer/.dockerignore
/kafka/consumer/.dockerignore

/.vscode